In [1]:
import numpy as np
import pandas as pd
import os 

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Load the data

In [ ]:
test_dataset =  pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/test.csv')
train_dataset =  pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/train.csv', nrows= 20_000_000)
print(test_dataset.shape)
print(train_dataset.shape)

# Data preprocessing

## Handling missing values and outliers

In [ ]:
# There are only 139 NaN in training data and no missing values in test data, so we are dropping rows from training data
train_dataset = train_dataset.drop(train_dataset[train_dataset.isnull().any(1)].index, axis = 0)

# There are 832 negative values in "fare_amount" column and we are removing those
train_dataset = train_dataset.drop(train_dataset[train_dataset['fare_amount'] < 0].index, axis=0)

# In training dataset there are 15 cases where "passenger_count" is 208 which doesn't look right, so removing, in test there is none
train_dataset = train_dataset.drop(train_dataset[train_dataset['passenger_count']==208].index, axis = 0)

# As latitude ranges between -90 and +90, so we are removing values outside this range(outliers)
train_dataset = train_dataset.drop(train_dataset[train_dataset['pickup_latitude'] < -90].index, axis=0)
train_dataset = train_dataset.drop(train_dataset[train_dataset['pickup_latitude'] > 90].index, axis=0)

# Like latitude, longitude also ranges between -180 and +180, so removing the rest
train_dataset = train_dataset.drop(train_dataset[train_dataset['pickup_longitude'] < -180].index, axis=0)
train_dataset = train_dataset.drop(train_dataset[train_dataset['pickup_longitude'] > 180].index, axis=0)

# Same operations for "dropoff_latitude" and "dropoff_longitude"
train_dataset = train_dataset.drop(train_dataset[train_dataset['dropoff_latitude'] < -90].index, axis=0)
train_dataset = train_dataset.drop(train_dataset[train_dataset['dropoff_latitude'] > 90].index, axis=0)
train_dataset = train_dataset.drop(train_dataset[train_dataset['dropoff_longitude'] < -180].index, axis=0)
train_dataset = train_dataset.drop(train_dataset[train_dataset['dropoff_longitude'] > 180].index, axis=0)

# Change the "key" and "pickup_datetime" column datatype to date-time from object
train_dataset['key'] = pd.to_datetime(train_dataset['key'], infer_datetime_format=True)
train_dataset['pickup_datetime']  = pd.to_datetime(train_dataset['pickup_datetime'], infer_datetime_format=True)
test_dataset['key'] = pd.to_datetime(test_dataset['key'], infer_datetime_format=True)
test_dataset['pickup_datetime']  = pd.to_datetime(test_dataset['pickup_datetime'], infer_datetime_format=True)

print("Final shape for training and test data after data cleaning: {} and {}".format(train_dataset.shape, test_dataset.shape))

## Save the cleaned data to load/use later

In [2]:
#train_dataset.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/train_dataset_20M_after_cleaning.csv')
#test_dataset.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/test_dataset_20M_after_cleaning.csv')

test_dataset =  pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/test_dataset_20M_after_cleaning.csv', index_col=[0])
train_dataset =  pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/train_dataset_20M_after_cleaning.csv', nrows= 20_000_000, index_col=[0])
print(train_dataset.shape, test_dataset.shape)

train_dataset['key'] = pd.to_datetime(train_dataset['key'], infer_datetime_format=True)
train_dataset['pickup_datetime']  = pd.to_datetime(train_dataset['pickup_datetime'], infer_datetime_format=True)
test_dataset['key'] = pd.to_datetime(test_dataset['key'], infer_datetime_format=True)
test_dataset['pickup_datetime']  = pd.to_datetime(test_dataset['pickup_datetime'], infer_datetime_format=True)

(19998006, 8) (9914, 7)

## Feature engineering

1. Extract "Year", "Month", "Date", "Day of Week" and "Hour" columns from "pickup_datetime"

2. Create a "Distance" column from pickup and dropoff, latitude and longitude

In [3]:
# Extract "Year", "Month", "Date", "Day of Week" and "Hour" columns from "pickup_datetime"
train_dataset['Year'] = train_dataset['pickup_datetime'].dt.year
train_dataset['Month'] = train_dataset['pickup_datetime'].dt.month
train_dataset['Date'] = train_dataset['pickup_datetime'].dt.day
train_dataset['Day of Week'] = train_dataset['pickup_datetime'].dt.dayofweek
train_dataset['Hour'] = train_dataset['pickup_datetime'].dt.hour

test_dataset['Year'] = test_dataset['pickup_datetime'].dt.year
test_dataset['Month'] = test_dataset['pickup_datetime'].dt.month
test_dataset['Date'] = test_dataset['pickup_datetime'].dt.day
test_dataset['Day of Week'] = test_dataset['pickup_datetime'].dt.dayofweek
test_dataset['Hour'] = test_dataset['pickup_datetime'].dt.hour

# Remove "key" and "pickup_datetime" as we have captured this info above
train_dataset = train_dataset.drop(['key','pickup_datetime'], axis = 1)
test_dataset = test_dataset.drop(['key','pickup_datetime'], axis = 1)

# Creating a "Distance" column is a logical choice as it will help to determine the fare
# We will use Haversine distance to calculate distance from pickup and dropoff, latitude and longitude
def calculate_distance(lat1, lon1, lat2, lon2, dataframe):

    # Convert degrees to radians
    lon1_radians = np.radians(dataframe[lon1])
    lon2_radians = np.radians(dataframe[lon2])
    lat1_radians = np.radians(dataframe[lat1])
    lat2_radians = np.radians(dataframe[lat2])

    # Haversine formula
    dlon = lon2_radians - lon1_radians
    dlat = lat2_radians - lat1_radians
    a = np.sin(dlat / 2)**2 + np.cos(lat1_radians) * np.cos(lat2_radians) * np.sin(dlon / 2)**2
    c = 2 * np.arcsin(np.sqrt(a))

    # calculate the result
    dataframe["Distance"]= (c * 6371)

calculate_distance('pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', train_dataset)
calculate_distance('pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', test_dataset)

print(train_dataset.head())
print(test_dataset.head())

   fare_amount  pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count  Year  Month  Date  Day of Week  Hour  Distance
0          4.5        -73.844311        40.721319         -73.841610         40.712278                1  2009      6    15            0    17  1.030764
1         16.9        -74.016048        40.711303         -73.979268         40.782004                1  2010      1     5            1    16  8.450134
2          5.7        -73.982738        40.761270         -73.991242         40.750562                2  2011      8    18            3     0  1.389525
3          7.7        -73.987130        40.733143         -73.991567         40.758092                1  2012      4    21            5     4  2.799270
4          5.3        -73.968095        40.768008         -73.956655         40.783762                1  2010      3     9            1     7  1.999157
   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count  Year  Month  Date  Day of Week  Hour  Distance
0        -73.973320        40.763805         -73.981430         40.743835                1  2015      1    27            1    13  2.323260
1        -73.986862        40.719383         -73.998886         40.739201                1  2015      1    27            1    13  2.425353
2        -73.982524        40.751260         -73.979654         40.746139                1  2011     10     8            5    11  0.618628
3        -73.981160        40.767807         -73.990448         40.751635                1  2012     12     1            5    21  1.961033
4        -73.966046        40.789775         -73.988565         40.744427                1  2012     12     1            5    21  5.387301

## Seperate training labels

In [4]:
X_train = train_dataset.iloc[:, train_dataset.columns != 'fare_amount']
y_train = train_dataset['fare_amount'].values
X_test = test_dataset

# Train and test different models

## Using simple Linear Regressor

In [ ]:
from sklearn.linear_model import LinearRegression

# Initialise, train and test the model
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_lr_1.csv', index=False)
submission.head(10)

                           key  fare_amount
0  2015-01-27 13:08:24.0000002    12.779795
1  2015-01-27 13:08:24.0000003    12.777705
2  2011-10-08 11:53:44.0000002    11.239468
3  2012-12-01 21:12:12.0000002    11.804325
4  2012-12-01 21:12:12.0000003    11.808343
5  2012-12-01 21:12:12.0000005    11.805898
6  2011-10-06 12:10:20.0000001    11.197601
7  2011-10-06 12:10:20.0000003    11.208312
8  2011-10-06 12:10:20.0000002    11.196773
9  2014-02-18 15:22:20.0000002    12.172163

## Using Polynomial Regressor

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

# Initialise, train and test the model
polynomial_features = PolynomialFeatures(degree = 3)
X_train_poly = polynomial_features.fit_transform(X_train)
regressor = LinearRegression()
regressor.fit(X_train_poly, y_train)
y_pred = regressor.predict(polynomial_features.fit_transform(X_test))

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_plr_2.csv', index=False)
submission.head(10)

## Using Support Vector Regressor(SVR)

In [ ]:
from sklearn.svm import SVR

# Initialise, train and test the model
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_svr_1.csv', index=False)
submission.head(10)

## Using Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Initialise, train and test the model
regressor_1 = RandomForestRegressor(n_estimators = 200, random_state = 42, max_samples = 0.05, max_features = 0.6)
regressor_1.fit(X_train, y_train)
y_pred = regressor_1.predict(X_test)

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_rf_3.csv', index=False)
submission.head(10)

                           key  fare_amount
0  2015-01-27 13:08:24.0000002     10.51750
1  2015-01-27 13:08:24.0000003     10.34500
2  2011-10-08 11:53:44.0000002      4.44200
3  2012-12-01 21:12:12.0000002      8.79850
4  2012-12-01 21:12:12.0000003     16.04700
5  2012-12-01 21:12:12.0000005     11.15200
6  2011-10-06 12:10:20.0000001      5.03050
7  2011-10-06 12:10:20.0000003     48.98905
8  2011-10-06 12:10:20.0000002     11.81605
9  2014-02-18 15:22:20.0000002      6.21000

## Using XGBoost

In [ ]:
import xgboost

# Initialise, train and test the model
regressor_2 = xgboost.XGBRegressor(objective = "reg:squarederror",
                  n_estimators = 100, 
                  seed = 42,
                  eta = 0.1,
                  eval_metric = "rmse",
                  max_depth = 7,
                  verbose = False)
regressor_2.fit(X_train, y_train, verbose = False)
y_pred = regressor_2.predict(X_test, num_iteration = regressor_2.best_iteration_)

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_xgboost_2.csv', index=False)
submission.head(10)

[15:32:09] WARNING: /workspace/src/learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.

                           key  fare_amount
0  2015-01-27 13:08:24.0000002    10.249455
1  2015-01-27 13:08:24.0000003    10.932947
2  2011-10-08 11:53:44.0000002     4.674202
3  2012-12-01 21:12:12.0000002     8.953639
4  2012-12-01 21:12:12.0000003    15.907702
5  2012-12-01 21:12:12.0000005    11.079843
6  2011-10-06 12:10:20.0000001     5.152694
7  2011-10-06 12:10:20.0000003    48.422676
8  2011-10-06 12:10:20.0000002    11.859878
9  2014-02-18 15:22:20.0000002     6.789435

## Using LightGBM

In [ ]:
import lightgbm

# Initialise, train and test the model
regressor_3 = lightgbm.LGBMRegressor(boosting_type = "gbdt", 
                                     learning_rate = 0.1, 
                                     n_estimators = 200, 
                                     objective = "regression", 
                                     subsample = 0.1,
                                     random_state = 42,
                                     metric = "rmse",
                                     verbose = 0)
regressor_3.fit(X_train, y_train, verbose = False)
y_pred = regressor_3.predict(X_test)

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_lgbm_3.csv', index=False)
submission.head(10)

                           key  fare_amount
0  2015-01-27 13:08:24.0000002    10.690266
1  2015-01-27 13:08:24.0000003    11.026318
2  2011-10-08 11:53:44.0000002     4.953806
3  2012-12-01 21:12:12.0000002     8.370679
4  2012-12-01 21:12:12.0000003    15.599452
5  2012-12-01 21:12:12.0000005    10.860681
6  2011-10-06 12:10:20.0000001     5.247845
7  2011-10-06 12:10:20.0000003    49.530000
8  2011-10-06 12:10:20.0000002    11.316202
9  2014-02-18 15:22:20.0000002     6.671705

## Using Neural Network

In [ ]:
import tensorflow as tf
from google.colab import files
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras import regularizers

print("Tensorflow version: {}\n".format(tf.__version__))

# Define the model
regressor=Sequential()
regressor.add(Dense(units = X_train.shape[1], activation='relu', input_dim = X_train.shape[1]))
regressor.add(Dense(units = 20, activation='relu'))
regressor.add(Dense(units = 20, activation='relu'))
regressor.add(Dense(units=1))
print(regressor.summary())

# Specify other hyper-parameters then train and test
regressor.compile(optimizer = "Adam", loss='mean_squared_error', metrics=['accuracy'])
regressor.fit(X_train, y_train, validation_split=0.0005, batch_size=10000, epochs=50, shuffle=True)
y_pred = regressor.predict(X_test)

# Save the results
submission = pd.read_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/sample_submission.csv')
submission['fare_amount'] = y_pred
submission.to_csv('/content/drive/MyDrive/Newyork taxi fair prediction challenge/submission_nn_1.csv', index=False)
submission.head(10)

Tensorflow version: 2.7.0

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 11)                132

 dense_9 (Dense)             (None, 20)                240

 dense_10 (Dense)            (None, 20)                420

 dense_11 (Dense)            (None, 1)                 21

=================================================================
Total params: 813
Trainable params: 813
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/50
1999/1999 [==============================] - 13s 6ms/step - loss: 2591.2427 - accuracy: 1.0006e-06 - val_loss: 83.6455 - val_accuracy: 0.0000e+00
Epoch 2/50
1999/1999 [==============================] - 12s 6ms/step - loss: 226.1571 - accuracy: 6.0036e-07 - val_loss: 36.6066 - val_accuracy: 0.0000e+00
Epoch 3/50
1999/1999 [==============================] - 11s 6ms/step - loss: 220.7051 - accuracy: 7.5045e-07 - val_loss: 36.5113 - val_accuracy: 0.0000e+00
Epoch 4/50
1999/1999 [==============================] - 12s 6ms/step - loss: 220.7190 - accuracy: 7.5045e-07 - val_loss: 36.4327 - val_accuracy: 0.0000e+00
Epoch 5/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.6382 - accuracy: 6.0036e-07 - val_loss: 36.5000 - val_accuracy: 0.0000e+00
Epoch 6/50
1999/1999 [==============================] - 12s 6ms/step - loss: 220.6678 - accuracy: 6.5039e-07 - val_loss: 35.7111 - val_accuracy: 0.0000e+00
Epoch 7/50
1999/1999 [==============================] - 12s 6ms/step - loss: 219.1078 - accuracy: 6.0036e-07 - val_loss: 35.5091 - val_accuracy: 0.0000e+00
Epoch 8/50
1999/1999 [==============================] - 12s 6ms/step - loss: 220.1203 - accuracy: 7.5045e-07 - val_loss: 35.1089 - val_accuracy: 0.0000e+00
Epoch 9/50
1999/1999 [==============================] - 12s 6ms/step - loss: 220.3939 - accuracy: 7.0042e-07 - val_loss: 34.9627 - val_accuracy: 0.0000e+00
Epoch 10/50
1999/1999 [==============================] - 12s 6ms/step - loss: 219.3669 - accuracy: 6.5039e-07 - val_loss: 34.9818 - val_accuracy: 0.0000e+00
Epoch 11/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.5582 - accuracy: 6.5039e-07 - val_loss: 34.9605 - val_accuracy: 0.0000e+00
Epoch 12/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.9757 - accuracy: 7.5045e-07 - val_loss: 35.1961 - val_accuracy: 0.0000e+00
Epoch 13/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.9041 - accuracy: 7.5045e-07 - val_loss: 34.9259 - val_accuracy: 0.0000e+00
Epoch 14/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.8845 - accuracy: 6.0036e-07 - val_loss: 35.0243 - val_accuracy: 0.0000e+00
Epoch 15/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.4394 - accuracy: 8.5051e-07 - val_loss: 35.1038 - val_accuracy: 0.0000e+00
Epoch 16/50
1999/1999 [==============================] - 12s 6ms/step - loss: 219.6516 - accuracy: 6.5039e-07 - val_loss: 35.4042 - val_accuracy: 0.0000e+00
Epoch 17/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.8374 - accuracy: 6.0036e-07 - val_loss: 34.9228 - val_accuracy: 0.0000e+00
Epoch 18/50
1999/1999 [==============================] - 12s 6ms/step - loss: 219.3188 - accuracy: 7.0042e-07 - val_loss: 34.9274 - val_accuracy: 0.0000e+00
Epoch 19/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.5278 - accuracy: 6.0036e-07 - val_loss: 34.8417 - val_accuracy: 0.0000e+00
Epoch 20/50
1999/1999 [==============================] - 12s 6ms/step - loss: 219.2160 - accuracy: 6.5039e-07 - val_loss: 34.9145 - val_accuracy: 0.0000e+00
Epoch 21/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.2913 - accuracy: 6.5039e-07 - val_loss: 35.0774 - val_accuracy: 0.0000e+00
Epoch 22/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.5682 - accuracy: 6.5039e-07 - val_loss: 34.7257 - val_accuracy: 0.0000e+00
Epoch 23/50
1999/1999 [==============================] - 12s 6ms/step - loss: 219.2316 - accuracy: 7.5045e-07 - val_loss: 34.9274 - val_accuracy: 0.0000e+00
Epoch 24/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.9985 - accuracy: 6.0036e-07 - val_loss: 34.9206 - val_accuracy: 0.0000e+00
Epoch 25/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.5695 - accuracy: 7.0042e-07 - val_loss: 35.0077 - val_accuracy: 0.0000e+00
Epoch 26/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.1907 - accuracy: 6.0036e-07 - val_loss: 34.9689 - val_accuracy: 0.0000e+00
Epoch 27/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.8957 - accuracy: 6.0036e-07 - val_loss: 35.1229 - val_accuracy: 0.0000e+00
Epoch 28/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.7769 - accuracy: 6.5039e-07 - val_loss: 34.9567 - val_accuracy: 0.0000e+00
Epoch 29/50
1999/1999 [==============================] - 11s 6ms/step - loss: 219.1229 - accuracy: 7.0042e-07 - val_loss: 35.1335 - val_accuracy: 0.0000e+00
Epoch 30/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.7987 - accuracy: 6.5039e-07 - val_loss: 34.9709 - val_accuracy: 0.0000e+00
Epoch 31/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.8848 - accuracy: 6.0036e-07 - val_loss: 35.1930 - val_accuracy: 0.0000e+00
Epoch 32/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.4469 - accuracy: 6.0036e-07 - val_loss: 34.9573 - val_accuracy: 0.0000e+00
Epoch 33/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.8360 - accuracy: 6.0036e-07 - val_loss: 35.3685 - val_accuracy: 0.0000e+00
Epoch 34/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.2732 - accuracy: 6.5039e-07 - val_loss: 35.0923 - val_accuracy: 0.0000e+00
Epoch 35/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.8044 - accuracy: 6.0036e-07 - val_loss: 34.8080 - val_accuracy: 0.0000e+00
Epoch 36/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.4728 - accuracy: 6.5039e-07 - val_loss: 34.8891 - val_accuracy: 0.0000e+00
Epoch 37/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.9004 - accuracy: 6.0036e-07 - val_loss: 35.3188 - val_accuracy: 0.0000e+00
Epoch 38/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.6315 - accuracy: 7.5045e-07 - val_loss: 35.0587 - val_accuracy: 0.0000e+00
Epoch 39/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.2235 - accuracy: 6.0036e-07 - val_loss: 34.4146 - val_accuracy: 0.0000e+00
Epoch 40/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.5189 - accuracy: 6.5039e-07 - val_loss: 34.4685 - val_accuracy: 0.0000e+00
Epoch 41/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.6934 - accuracy: 6.0036e-07 - val_loss: 34.6543 - val_accuracy: 0.0000e+00
Epoch 42/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.6166 - accuracy: 6.0036e-07 - val_loss: 34.6804 - val_accuracy: 0.0000e+00
Epoch 43/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.1575 - accuracy: 6.0036e-07 - val_loss: 34.8591 - val_accuracy: 0.0000e+00
Epoch 44/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.4339 - accuracy: 6.0036e-07 - val_loss: 34.5680 - val_accuracy: 0.0000e+00
Epoch 45/50
1999/1999 [==============================] - 12s 6ms/step - loss: 217.8840 - accuracy: 6.5039e-07 - val_loss: 34.0511 - val_accuracy: 0.0000e+00
Epoch 46/50
1999/1999 [==============================] - 11s 6ms/step - loss: 217.9235 - accuracy: 6.0036e-07 - val_loss: 33.9284 - val_accuracy: 0.0000e+00
Epoch 47/50
1999/1999 [==============================] - 11s 6ms/step - loss: 218.3418 - accuracy: 6.0036e-07 - val_loss: 34.6684 - val_accuracy: 0.0000e+00
Epoch 48/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.4916 - accuracy: 6.0036e-07 - val_loss: 34.3813 - val_accuracy: 0.0000e+00
Epoch 49/50
1999/1999 [==============================] - 12s 6ms/step - loss: 218.1125 - accuracy: 6.0036e-07 - val_loss: 34.3759 - val_accuracy: 0.0000e+00
Epoch 50/50
1999/1999 [==============================] - 11s 6ms/step - loss: 217.9977 - accuracy: 6.5039e-07 - val_loss: 34.4073 - val_accuracy: 0.0000e+00

                           key  fare_amount
0  2015-01-27 13:08:24.0000002     8.517562
1  2015-01-27 13:08:24.0000003     8.704256
2  2011-10-08 11:53:44.0000002     6.043541
3  2012-12-01 21:12:12.0000002     8.083719
4  2012-12-01 21:12:12.0000003    15.750600
5  2012-12-01 21:12:12.0000005    10.362946
6  2011-10-06 12:10:20.0000001     6.165036
7  2011-10-06 12:10:20.0000003    54.224850
8  2011-10-06 12:10:20.0000002    11.427979
9  2014-02-18 15:22:20.0000002     6.350249